body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.navbar-inverse {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 16;
}

.carousel-inner > .item > img {
    margin: auto;
    padding-top: 50px;
	width: 70%;
	max-width: 100%;
}

.item img {
  height: auto;
  max-height: 600px;
}



#messages{
  text-align: center;
}
.messages {
  color: #24E536;
  font-size: 14px;
  font-family: Garamond, Times, Serif;
  cursor:crosshair;
}


footer .row {
  display: flex;
  align-items: center;
}

