body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.navbar-inverse {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 16;
}


.carousel-inner > .item > img {
    margin: auto;
    padding-top: 50px;
	width: 70%;
	max-width: 100%;
}

.item img {
  max-height: 500px;
}



#messages{
  text-align: center;
}
.messages {
  color: #24E536;
  font-size: 14px;
  font-family: Garamond, Times, Serif;
  cursor:crosshair;
}


footer .row {
  display: flex;
  align-items: center;
}




#contact h2 {
  text-align: center;
  font-family: 'Tangerine', serif;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa; 
}
.contact {
  display: flex;
  justify-content: center;
}
.contact img {
  width: 75px;
  height: 75px;
  border-radius: 6px;
}
.contact a {
  padding: 8px 25px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}
.contact a:hover {
  display: block;
  background-color: blue;
  color:white;
  font-weight: bold;
}
