body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.navbar {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2A4CE5;
}

.navbar-inverse .navbar-brand{
  color:black;
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

/* css for the sliding toggle */
.pull-me{
  box-shadow: 0 0 8px blue;
  cursor:pointer;
}
.panel {
  background: black;
  background-size:90% 90%;
  height:100px;
  display:none;
  font-family:garamond,times,serif;
  border-radius: 0;
}
.panel p{
  color: white;
  text-align:center;
}
.slide {
  margin:0;
  padding:0;
  border-top:solid 2px blue;
}
.pull-me {
  display:block;
  margin-left: auto;
  margin-right: auto;
  right:-20px;
  width:150px;
  height:20px;
  font-family:arial,sans-serif;
  font-size:14px;
  color:#ffffff;
  background:black;
  text-align: center;
  text-decoration:none;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
/*------------------*/


.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://wallpapercave.com/wp/C0IS6UO.jpg');
  background-size: cover;
  height: 800px;
  font-family: "Times New Roman"; 
  text-shadow: 5px 5px 10px #000000;
  margin-bottom: 0;
}
.jumbotron h2 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  font-family: 'Tangerine', serif;
  font-size: 100px;
  text-shadow: 4px 4px 4px #aaa; 
}
.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa; 
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #336BFF;
  text-shadow: none;
  background-color: #ffffff;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #336BFF;
}

/*
@media screen and (min-width : 0px) and (max-width : 767px){ 
  @-ms-viewport{width: device-width;}
  .intro h1{
  text-align: center;
  font-family: 'Tangerine', serif;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
  }
}
*/


@media screen and (min-width: 980px){
  .intro h1{
    text-align: center;
    font-family: 'Tangerine', serif;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
  }
  .intro p{
    font-size: 20px;
    font-weight: bold;
    margin: 0 35px 30px;
    text-align: left;
  }
}

@media screen and (max-width: 500px){
  .intro h1{
    text-align: center;
    font-family: 'Tangerine', serif;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 4px 4px 4px #aaa;
  }
  .intro p{
    font-size: 14px;
    font-weight: bold;
    margin: 0 35px 30px;
    text-align: left;
  }
}





#skills h1{
  background-color: rgb(34, 34, 34);
  color: white;
  text-align: center;
  font-family: 'Tangerine', serif;
  font-weight: bold;
  font-size: 80px;
  text-shadow: 4px 4px 4px #aaa;  
}


#contact h2 {
  text-align: center;
  font-family: 'Tangerine', serif;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa; 
}
.contact {
  display: flex;
  justify-content: center;
}
.contact img {
  width: 75px;
  height: 75px;
  border-radius: 6px;
}
.contact a {
  padding: 8px 25px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}
.contact a:hover {
  display: block;
  background-color: blue;
  color:white;
  font-weight: bold;
}



footer {
  font-size: 12px;
  padding: 20px;
}
footer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
footer ul {
  list-style: none;
}
footer li img {
  width: 32px;
  height: 32px;
}



/* activates hover effect from scipt file*/
.active {
  background-color:#556677;
  color: white;
  text-transform: uppercase;
}